{% extends "base_generic.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <button id="bookmark-toggle-btn" data-restaurant-id="{{ restaurant.pk }}">
        {% if restaurant.bookmarked_by_user %}
            Remove Bookmark
        {% else %}
            Add Bookmark
        {% endif %}
    </button>
{% endif %}
<h1>{{ restaurant.title }}</h1>
<p>Rating: {{ restaurant.average_rating }}</p>
<p>Cost for two: {{ restaurant.cost_for_two }}</p>
<p>Owner: {{ restaurant.owner }}</p>
<p>Location: {{ restaurant.location }}</p>
<p>Address: {{ restaurant.address }}</p>
<p>Timings: {{ restaurant.opening_time }} to {{ restaurant.closing_time }}</p>
<p>Type: {{ restaurant.food_type }}</p>

<h2>Dishes</h2>
<ul>
    {% for dish in dishes %}
        <p>{{ dish.name }} - {{ dish.price }} ({{ dish.dish_type }})</p>
    {% endfor %}
</ul>

<h2>Photos</h2>
<ul>
    {% for photo in photos %}
        <img src="{{ photo.image.url }}" alt="Restaurant Photo">
    {% endfor %}
</ul>

<h2>Reviews</h2>
<ul>
    {% for review in reviews %}
        <p>{{ review.user }}: {{ review.text }}</p>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    {% if user_review %}
        <a href="{% url 'edit-review' restaurant.pk %}" class="btn btn-primary">Edit Review</a>
    {% else %}
        <a href="{% url 'add-review' restaurant.pk %}" class="btn btn-primary">Add Review</a>
    {% endif %}
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to leave a review.</p>
{% endif %}


{% endblock %}
